a {
    
    text-decoration: none;
    height: fit-content;
    display: block;
    color: black;
    padding: 9px 12px 5px 9px;
    background-color: lightcyan;
    border-radius: 2px;
    border-left: 6px solid var(--primary-color);

    margin: 1px auto;

    display: inline-flex;
    width: 100%;
    justify-content: space-between;

    transition: all 0.3s;
}
a:hover {
    background-color: rgb(197, 240, 240);

    border-left: 10px solid var(--primary-color);
    padding: 9px 12px 5px 15px;
}

.right-container {
    gap: 20px !important;
}

a div {
    display: inline-flex;
    align-items: center;
    gap: 0px;

    position: relative;
}
a div img {
    border-radius: 50px;
    width: 26px;
    margin: 0px 0 0 -10px;
    border: 3px solid white;
}


