
<a [routerLink]="['/projects', project.id]">

    <span>{{ project.project_name }}</span>

    <div class="right-container">
        <span class="alignItems">{{ project.tasks.length }} <span class="material-icons">task</span></span> 
        
        <!-- Affichage du Chef de projet et des membres  -->
        <div>
            <img src="{{ ownerObj?.imgUrl }}" class="imgUserTiny" alt="dzedzed" />
            <ng-container *ngFor="let member of project.members">
                <img *ngIf="member.id !== ownerObj?.id" src="{{ member.imgUrl }}" /> 
            </ng-container>
        </div>

    </div>

</a>
