<p>{{user?.username}}</p>
<img [src]="user?.imgUrl" />

<h3>Projets managés</h3>
<div *ngIf="user && user.projects_owned && user.projects_owned.length > 0">
    <div *ngFor="let project of user.projects_owned">
        <a [routerLink]="['/projects', project.id]">
            <p>Porjet "{{project.project_name}}"</p>
        </a>
    </div>
</div>

<h3>Membres</h3>
<div *ngIf="user && user.projects_member && user.projects_member.length > 0">
    <div *ngFor="let project of user.projects_member">
        <a [routerLink]="['/projects', project.id]">
            <p>Projet "{{ project.project_name }}"</p>
        </a>
    </div>
</div>
