a {
    text-decoration: none;
    height: fit-content;
    display: block;
    color: black;
    padding: 5px 4px 4px 9px;
    background-color: lightcyan;
    border-radius: 2px;
    border-left: 6px solid purple;

    display: inline-flex;
    width: 100%;
    justify-content: space-between;

    margin: 1px 0;

    transition: all 0.3s;
}
a:hover {
    background-color: rgb(197, 240, 240);
    border-left: 11px solid purple;
    padding: 5px 4px 4px 16px;
}
a div {
    display: inline-flex;
    align-items: center;
    gap: 10px;
    
}
a div img {
    border-radius: 50px;
    width: 50px;
}

