
<div>
  <h2>Projets</h2>
  <button (click)="toggleForm()">{{formBtnText}}</button>
</div>


<div *ngIf="!isFormToggled; else elseBlock">

  <div *ngIf="projects && projects.length > 0">
    <ul>
      <li *ngFor="let project of projects">

        <app-project-card [project]="project"></app-project-card>

      </li> 
    </ul>
  </div>

  <div *ngIf="errors">
    <h2>ERREUR</h2>
    <p>Description: Erreur {{errors.error.status}}: "{{errors.error.detail}}"</p>
  </div>

  <div *ngIf="isLoading">
    <p>Chargement en cours...</p>
  </div>

</div>


<ng-template #elseBlock>
  <p>Formulaire création Projet</p>
</ng-template>




