
<div>

  <h2>Projets</h2>

  <button (click)="toggleForm()" mat-flat-button>
    <mat-icon>{{formToggleBtnIcon}}</mat-icon>
    {{formToggleBtnText}}
  </button>

</div>


<div *ngIf="!isFormToggled; else elseBlock">

  <div *ngIf="projects && projects.length > 0">
    <ul>
      <li *ngFor="let project of projects">

        <app-project-card [project]="project"></app-project-card>

      </li> 
    </ul>
  </div>

  <div *ngIf="errors">
    <h2>ERREUR</h2>
    <p>Description: Erreur {{errors.error.status}}: "{{errors.error.detail}}"</p>
  </div>

  <div *ngIf="isLoading">
    <p>Chargement en cours...</p>
  </div>

</div>


<ng-template #elseBlock>

  <h4>Nouveau projet</h4>

  <form (ngSubmit)="onSubmit(myForm)" #myForm="ngForm" class="formNewItem">

    <mat-form-field>
      <mat-label>Nom du projet</mat-label>
      <input matInput required name="project_name" ngModel>
    </mat-form-field>

    <mat-form-field>
      <mat-label>Description du projet</mat-label>
      <textarea matInput name="description" ngModel></textarea>
    </mat-form-field>

    <!-- <mat-form-field>
      <mat-label>Chef de projet</mat-label>
      <mat-select name="owner" ngModel>
        <mat-option value="one">First option</mat-option>
        <mat-option value="two">Second option</mat-option>
      </mat-select>
    </mat-form-field> -->

    <button type="submit" mat-fab extended>
      <mat-icon>check</mat-icon>
      Valider
    </button>

  </form>

</ng-template>




