
<div>
    <h2>Projects</h2>

    <div *ngFor="let project of projects">
        <app-project-card [project]="project"></app-project-card>
    </div>
    <em>Voir plus</em>
</div>



<div>
    <h2>Utilisateurs</h2>

    <div *ngFor="let user of users">
        <app-user-card [user]="user"></app-user-card>
    </div>
    <em>Voir plus</em>
</div>



<div>
    <h2>Tâches</h2>

    <div *ngFor="let task of tasks">
        <app-task-card [task]="task"></app-task-card>
    </div>
    <a><em>Voir plus</em></a>
</div>




