

<div *ngIf="project">

      <h2>Projet #{{project.id}}: {{project.project_name}} </h2>
      <p>Description: {{project.description}}</p>
      <p>Initié le {{project.start_date | date }}</p>
      <span>Chef de projet: </span>
      <app-user-card *ngIf="project.owner" [user]="project.owner"></app-user-card>


      <mat-divider></mat-divider>


      <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                  <mat-expansion-panel-header>
                        <mat-panel-title> Membres </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div>
                        <div class="memberCard-row" *ngFor="let member of project.members">
                              <app-user-card [user]="member"></app-user-card>
                              <button class="removeMemberBtn" (click)="removeMember(member.id)">remove</button>
                        </div>
                  </div>
            </mat-expansion-panel>
      </mat-accordion>

      



      <mat-accordion>
            <mat-expansion-panel (opened)="panelOpenState.set(true)" (closed)="panelOpenState.set(false)">
                  <mat-expansion-panel-header>
                        <mat-panel-title> Tâches </mat-panel-title>
                  </mat-expansion-panel-header>

                  <div>
                        <div *ngFor="let task of project.tasks">
                              <app-task-card [task]="task"></app-task-card>
                        </div>
                  </div>
            </mat-expansion-panel>
      </mat-accordion>


</div>
      
<div *ngIf="errors">
      <h2>ERREUR</h2>
      <p>Description: Erreur {{errors.error.status}}: "{{errors.error.detail}}"</p>
</div>

<div *ngIf="isLoading">
      <p>Chargement en cours...</p>
</div>
