
<h2>Utilisateurs</h2>


<div class="list-container" *ngIf="users && users.length > 0">

  <ul>

    <li *ngFor="let user of users">

      <a [routerLink]="['/users', user.id]">
        <div>
            <img [src]="user.imgUrl" />
            <span>{{ user.username }}</span>
        </div>
        <div>
          <span>{{ user.projects_member.length }} <span class="material-icons">diversity_3</span></span>
          <span>{{ user.tasks_assignated.length }} <span class="material-icons">task</span></span>
        </div>
      </a>

    </li> 
  </ul>

</div>

<div *ngIf="errors">
  <h2>ERREUR</h2>
  <p>Description: Erreur {{errors.error.status}}: "{{errors.error.detail}}"</p>
</div>

<div *ngIf="isLoading">
  <p>Chargement en cours...</p>
</div>