// @import 'src/variables.scss'; 


.user-list-container {
    width: 50%;
    margin: 50px auto;
}

ul {
    list-style-type: none;
    padding-inline-start: 0px;
}
li {
    margin: 10px auto;
}




